// main: ../style.less

.story__item {
    display: flex;
    align-items: center;
    margin-bottom: 60px;

    @media @notebook{
        margin-bottom: 30px;
    }

     @media @tablet{

    }

    @media @mobile{
        flex-wrap: wrap;
    }



}

.story__content {
    display: block;
    max-width: 460px;
    margin-left: 30px;

     @media @perComputer{
         max-width: 400px;
    }

      @media @notebook{
         max-width: 400px;
    }

     @media @tablet{
        margin-left: 20px;
    }

    @media @mobile{
        margin: 0 auto;
        text-align: center;

    }

}

.story__title {
    font-size: 1.6rem;
    font-weight: 500;
    color: @black;

    margin-bottom: 25px;


    @media @notebook{
        margin-bottom: 15px;
    }

    @media @tablet{
       margin-bottom: 15px;
    }

    @media @mobile{
        margin-bottom: 5px;
        text-align: center;
        margin-left: 10px;

    }
}

.story__text {
    font-size: 1.06rem;
    font-weight: 300;
    color: @gray-light;

    @media @tablet{
       font-size: .76rem;
    }

    @media @mobile{
        text-align: center;
    }

}



.story__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-top: 526px;
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;

    @media @perComputer{
        margin-top: 365px;
    }

    @media @notebook{
          margin-top: 275px;
    }

    @media @tablet{
        margin-top: 105px;

    }

    @media @mobile{
        flex-wrap: wrap;
        margin-top: 0;
    }




}

.story__photo {
    max-width: 100%;
    height: auto;

    display: block;
    position: relative;

     @media @perComputer{
        margin-top: 50px;
        width: 50%;

    }

    @media @notebook{
        right: 0px;
        top: -20px;
        width: 50%;
    }

    @media @tablet{
        right: 0px;
        top: 30px;
        width: 50%;
    }

    @media @mobile{
        margin: 0 auto;
        width: 60%;
    }

}


